<!-- <% @demographics.each do |demographic| %>

<% end %> -->
<% dem = @demographics[1] %>
<%= dem.state %>
<!-- <% death = @deaths.find_by_id(dem.figures.includes(:death)[3].death_id) %>
<%= death.cause %>
>> dem.figures.includes(:death)[3]
=> #<Figure id: 39, number: 12, percent: 0.2, death_id: 39, demographic_id: 2>
>> dem.figures.includes(:death)[3].death_id
=> 39
>> @deaths.find_by_id(dem.figures.includes(:death)[3].death_id)
=> #<Death id: 39, cause: "Pneumonitis">
>> death = @deaths.find_by_id(dem.figures.includes(:death)[3].death_id)
=> #<Death id: 39, cause: "Pneumonitis">
>> death.cause
=> "Pneumonitis" -->


d.figures.includes(:death)
<!-- [#<Figure id: 21, number: 5506, percent: 19.7, death_id: 21, demographic_id: 1>, #<Figure id: 20, number: 230, percent: 0.8, death_id: 20, demographic_id: 1>, #<Figure id: 19, number: 242, percent: 0.9, death_id: 19, demographic_id: 1>, #<Figure id: 18, number: 269, percent: 1.0, death_id: 18, demographic_id: 1>, #<Figure id: 17, number: 283, percent: 1.0, death_id: 17, demographic_id: 1>, #<Figure id: 16, number: 320, percent: 1.1, death_id: 16, demographic_id: 1>, #<Figure id: 15, number: 331, percent: 1.2, death_id: 15, demographic_id: 1>, #<Figure id: 14, number: 336, percent: 1.2, death_id: 14, demographic_id: 1>, #<Figure id: 13, number: 404, percent: 1.4, death_id: 13, demographic_id: 1>, #<Figure id: 12, number: 506, percent: 1.8, death_id: 12, demographic_id: 1>, ...]> -->
  <div class="col-xs-6">
    <h3>Deaths in This Demographic</h3>
    <%= column_chart @deaths.group(:cause).count %>
  </div>
