<h2>About Death, Be Not Unknown</h2>
<p>It's impossible to predict how we will meet our ends. But there is certainly plenty to speculate on.</p>
<p><em>Death, Be Not Unknown</em> was conceived as a way to make American mortality statistics from the Center for Disease Control and Prevention (CDC) more accessible and readily comprehensible.</p>
<p>Because of the restrictions surrounding publicly available mortality data, only the top twenty causes were included in the app's database. All data was laboriously retrieved from the CDC's WISQARS database, about which you can find <a href="http://www.cdc.gov/injury/wisqars/index.html" target="_blank">more information here</a>. If you'd like to see more in-depth stats, <a href="http://wonder.cdc.gov/" target="_blank">visit the CDC's WONDER database</a>, which includes county-level data.</p> 

<p>Using the app is easy. Just select a state and enter characteristics of interest (race, ethnicity, sex, and age as defined by the CDC). Hover over the resulting bubbles to view cause of death, that causes's corresponding percentage of total deaths, and the number of people within that group who died from that cause.</p>

<p>This is a personal project of Rebecca Kilberg. Feel free to <a href="https://github.com/kilbergr/MortalityApp" target="_blank">check out my github repository</a> for this project.</p>

<p>Please note, this tool is in no way meant to serve as a death prediction tool.</p>

<button class="ui inverted grey button"><%= link_to "Home", demographics_path %></button>