
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// =======================
// ==== COLOR PALETTE ====
// =======================
// Palette from http://www.colourlovers.com/palette/2841387/Lace
// agussgut

// blush
// #FFCFAD RGB 255,207,173

// cream
// #FFE4B8 RGB 255,228,184

// sand
// #E6D1B1 RGB 230,209,177

// Nantucket siding
// #B8AA95 RGB 184,170,149

// Dark Chalkboard
// #5E5A54 RGB 94,90,84




// =======================
// ==== DARK PALETTE ====
// =======================

// violent violet
// #392F62 (22,18,38)

// mauve
// #D1CBDA 

// mom's missing coat
// #6F6D96

// baby's bath lilac
// #DDBBFE

// Golden Mellow
// #F4D24B

// VALENTINA'S COPPER
// #e5bf29

// Nearly White
// #FBFBFC

// #D9DBE5

@import "semantic-ui";

body {
  margin: 5px;
  padding:5px;
	background-color: #392F62;
	color: #D9DBE5;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}

p {
  color: #D9DBE5;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}

// LANDING PAGE
 #rotate {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin-top:25%;
  font-size: 96px;
  color: #D9DBE5;
  font-weight: 700;
  line-height:100%
 }
.corner{
  text-align: right;
  position:absolute;
  right:0;
  top:0;
  margin:5px;

}
 // MAIN APP


#blackScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0,0,0 , 0.7);
}

h1{
  color: #D9DBE5;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1px;
}

h2{
  color: #D9DBE5;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 36px;
}

h3{
  color: #D9DBE5;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 28px;
}

h4{
  color: #D9DBE5;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
}
.label{
  color: #D9DBE5;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
}
.bubble {
  stroke: #B8AA95;
  opacity: .9;
 }

#pick {
 padding:30px;
}

#simpleChart {
  margin-left:30%;
}

.tooltip{
    color: #D9DBE5;
    margin:8px;
    padding:8px;
    border:1px solid blue;
    background-color: #eadba4;
    position: absolute;
    z-index: 2;
    font-family: sans-serif;
    font-size: 24px;
  }

.subunit-boundary { 
    fill: none; 
    stroke: #B8AA95; 
    stroke-linejoin: round; 
  } 

.slider {
  position: relative;
  top: 40px;
  left: 40px;
}
.slider-tray {
  position: absolute;
  width: 100%;
  height: 6px;
  border: solid 1px #ccc;
  border-top-color: #aaa;
  border-radius: 4px;
  background-color: #f0f0f0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
}
.slider-handle {
  position: absolute;
  top: 3px;
}
.slider-handle-icon {
  width: 14px;
  height: 14px;
  border: solid 1px #aaa;
  position: absolute;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  top: -7px;
  left: -7px;
}
